/* css styles */

.yt-player {
  aspect-ratio: 16 / 9;
  width: 100%;
}

#topics {
  max-height: 50vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.btn-timestamp {
  font-size: inherit;
  padding: 0;
}

.topic_badges .badge:first-child {
  margin-left: 0 !important;
}

.topic {
  display: grid;
  grid-template-areas: 
    "timestamp badges"
    "desc desc";
  padding-right: 1.5em;
  scroll-snap-align: start;
}

.topic h3 {
  grid-area: timestamp;
  height: 100%;
  margin-top: 0;
  display: flex;
  align-items: end;
}

.topic_badges {
  grid-area: badges;
  display: flex;
  align-items: end;
  justify-content: end;
}

.topic_badges div {
  display: inline-block;
  margin-bottom: 0;
}

.topic_description {
  grid-area: desc;
  margin-top: 0.5em
}